  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
      <img src="/images/logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        Awami National Party 
      </a>
      <% if (user) { %>
        <a href="/add" class="navbar-item">
          Add New
        </a>
        <% } %>
        <% if (user) { %>
          <form action="/auth/logout" method="post">
            <button type="submit">Logout</button>
        </form>
        <% } else { %>
          <a href="/auth/register" class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a href="/auth/login" class="button is-light">
            Log in
          </a>
          <% } %>
    </div>
  </nav>