<%- include('partials/header') %>
  <div class="container-100 justify-content-center">
    <div class="wrapper">
      <div class="form">
        <h1 class="title">Register a candidate</h1>
        <hr>
        <form action="/add" method="post" class="myform" enctype="multipart/form-data">
          <hr>
          <h4 class="text-center">Candidate Information</h4>
          <hr>
          <div class="control-from">
            <label for="profileImage" class="label">Profile Image:</label>
            <div class="control">
              <input type="file" id="profileImage" name="profileImage" class="input" required>
            </div>
          </div>
          <div class="control-from">
            <label for="name">Name *</label>
            <input type="text" id="name" name="name" class="input" placeholder="Name" required>
          </div>

          <div class="control-from">
            <label for="fathername">Father Name *</label>
            <input type="text" id="fathername" name="fathername" class="input" placeholder="Father Name" required>
          </div>


          <div class="field">
            <label for="district" class="label">District*</label>
            <div class="control">
              <div class="select">
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="district"
                  name="district" required>
                          <!-- List of cities in alphabetical order -->
                          <option value="Abbottabad">Abbottabad</option>
                          <option value="Bajaur">Bajaur</option>
                          <option value="Bannu">Bannu</option>
                          <option value="Battagram">Battagram</option>
                          <option value="Buner">Buner</option>
                          <option value="Charsadda">Charsadda</option>
                          <option value="Chitral Lower">Chitral Lower</option>
                          <option value="Chitral Upper">Chitral Upper</option>
                          <option value="Dera ismail khan">Dera ismail khan</option>
                          <option value="Hangu">Hangu</option>
                          <option value="Haripur">Haripur</option>
                          <option value="Karak">Karak</option>
                          <option value="Kohat">Kohat</option>
                          <option value="Lakki Marwat">Lakki Marwat</option>
                          <option value="Lower Dir">Lower Dir</option>
                          <option value="Lower Kohistan">Lower Kohistan</option>
                          <option value="Malakand">Malakand</option>
                          <option value="Mansehra">Mansehra</option>
                          <option value="Mardan">Mardan</option>
                          <option value="Nowshehra">Nowshehra</option>
                          <option value="Peshawar">Peshawar</option>
                          <option value="Shangla">Shangla</option>
                          <option value="Swabi">Swabi</option>
                          <option value="Swat">Swat</option>
                          <option value="Tank">Tank</option>
                          <option value="Torghar">Torghar</option>
                          <option value="Upper Dir">Upper Dir</option>
                          <option value="Upper Kohistan">Upper Kohistan</option>
                          <option value="Upper Kohistan">Upper Kohistan</option>
                          <option value="South Waziristan">South Waziristan</option>
                          <option value="North Waziristan">North Waziristan</option>
                          <option value="Orakzai">Orakzai</option>
                          <option value="Mohmand">Mohmand</option>
                          <option value="Kurram">Kurram</option>
                          <option value="Kolai Palas">Kolai Palas</option>
                          <option value="Upper Kohistan">Upper Kohistan</option>
                          <option value="Lower Kohistan">Lower Kohistan</option>
                          <option value="Khyber">Khyber</option>
                      </select>
              </div>
            </div>
          </div>

          <div class="control-from">
            <label for="contactNumber">Contact Number *</label>
            <input type="text" id="contactNumber" name="contactNumber" class="input" placeholder="Contact Number"
              maxlength="11" required>
          </div>


          <div class="field">
            <label for="constituencyType" class="label">Constituency Type*</label>
            <div class="control">
              <div class="select">
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                  id="constituencyType" name="constituencyType" required>
                          <option value="NA">National Assembly - NA</option>
                          <option value="PK">Provincial Assembly - PK</option>
                      </select>
              </div>
            </div>
          </div>

          <div class="control-from">
            <label for="constituency">Constituency# *</label>
            <input type="number" id="constituency" name="constituency" maxlength="3" class="input" placeholder="eg; 59"
              required>
          </div>

          <div class="control-from">
            <label for="cnic">CNIC# *</label>
            <input type="text" id="cnic" name="cnic" class="input" maxlength="13" placeholder="1710132386724">
          </div>
          <div class="full-width">
            <label for="currentAddress">Current Address *</label>
            <input type="text" id="currentAddress" name="currentAddress" class="input"
              placeholder="Street, Village/ City" required>
          </div>
          <div class="full-width">
            <label for="permanentAddress">Permanent Address *</label>
            <input type="text" id="permanentAddress" name="permanentAddress" class="input"
              placeholder="Street, Village/ City" required>
          </div>

          <hr>
          <h4 class="text-center">Suggester Information</h4>
          <hr>
          <div class="control-from">
            <label for="suggesterName">Name *</label>
            <input type="text" id="suggesterName" name="suggesterName" class="input" required>
          </div>

          <div class="control-from">
            <label for="suggesterFatherName">Father Name *</label>
            <input type="text" id="suggesterFatherName" name="suggesterFatherName" class="input" required>
          </div>

          <div class="control-from">
            <label for="contactNumber">Contact Number *</label>
            <input type="text" id="suggesterContactNum" name="suggesterContactNum" class="input"
              placeholder="Contact Number" maxlength="11" required>
          </div>

          <div class="control-from">
            <label for="suggesterCNIC">CNIC# *</label>
            <input type="text" id="suggesterCNIC" name="suggesterCNIC" class="input" maxlength="13"
              placeholder="1710132386724" required>
          </div>

          <div class="control-form">
            <label for="suggesterCurrentAddress">Current Address *</label>
            <input type="text" id="suggesterCurrentAddress" name="suggesterCurrentAddress" class="input"
              placeholder="Street, Village/ City" required>
          </div>

          <div class="field">
            <label for="suggConstTyp" class="label">Constituency Type*</label>
            <div class="control">
              <div class="select">
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="suggConstTyp"
                  name="suggConstTyp" required>
                          <option value="NA">National Assembly - NA</option>
                          <option value="PK">Provincial Assembly - PK</option>
                      </select>
              </div>
            </div>
          </div>

          <div class="control-from">
            <label for="suggesterConstituency">Constituency# *</label>
            <input type="number" id="suggesterConstituency" name="suggesterConstituency" maxlength="3" class="input"
              placeholder="eg; 59" required>
          </div>


          <div class="control-from"></div>
          <div class="control-from"></div>


          <hr>
          <h4 class="text-center">Vindicator Information</h4>
          <hr>

          <div class="control-from">
            <label for="vindicatorName">Name *</label>
            <input type="text" id="vindicatorName" name="vindicatorName" class="input" required>
          </div>

          <div class="control-from">
            <label for="vindicatorFatherName">Father Name *</label>
            <input type="text" id="vindicatorFatherName" name="vindicatorFatherName" class="input" required>
          </div>

          <div class="control-from">
            <label for="vindicatorContactNum">Contact Number *</label>
            <input type="text" id="vindicatorContactNum" name="vindicatorContactNum" class="input"
              placeholder="Contact Number" maxlength="11" required>
          </div>

          <div class="control-from">
            <label for="vindicatorCNIC">CNIC# *</label>
            <input type="text" id="vindicatorCNIC" name="vindicatorCNIC" class="input" maxlength="13"
              placeholder="1710132386724" required>
          </div>

          <div class="control-form">
            <label for="vindicatorCurrentAddress">Current Address *</label>
            <input type="text" id="vindicatorCurrentAddress" name="vindicatorCurrentAddress" class="input"
              placeholder="Street, Village/ City" required>
          </div>

          <div class="field">
            <label for="vindConstTyp" class="label">Constituency Type*</label>
            <div class="control">
              <div class="select">
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="vindConstTyp"
                  name="vindConstTyp" required>
                          <option value="NA">National Assembly - NA</option>
                          <option value="PK">Provincial Assembly - PK</option>
                      </select>
              </div>
            </div>
          </div>

          <div class="control-from">
            <label for="vindicatorConstituency">Constituency# *</label>
            <input type="number" id="vindicatorConstituency" name="vindicatorConstituency" maxlength="3" class="input"
              placeholder="eg; 59" required>
          </div>
          <div class="control-from">
          </div>
          <div class="control-from">
          </div>

          <!-- Signatures Verification -->


          <div class="field">
            <label class="label">Candidate Signature?</label>
            <div class="control">
              <label class="radio">
                Signed
                <input type="radio" name="candidateSign" value="signed"  required checked>
              </label>
              <label class="radio">
                No
                <input type="radio" name="candidateSign" value="notAvailable" required>
              </label>
            </div>
            </div>

          <div class="field">
            <label class="label">Suggester Signature?</label>
            <div class="control">
              <label class="radio">
                Signed
                <input type="radio" name="suggesterSign" value="signed" required checked>
              </label>
              <label class="radio">
                No
                <input type="radio" name="suggesterSign" value="notSigned" required>
              </label>
            </div>
          </div>
          <div class="field">
            <label class="label">Vindicator Signature?</label>
            <div class="control">
              <label class="radio">
                Signed
                <input type="radio" name="vindicatorSign" value="signed" required checked>
              </label>
              <label class="radio">
                No
                <input type="radio" name="vindicatorSign" value="notSigned" required>
              </label>
            </div>
          </div>
          <div class="field">
            <label class="label">Union Council President Signature?</label>
            <div class="control">
              <label class="radio">
                Signed
                <input type="radio" name="ucPresidentSign" value="signed" required checked>
              </label>
              <label class="radio">
                No
                <input type="radio" name="ucPresidentSign" value="notSigned" required>
              </label>
            </div>
          </div>
          <div class="field">
            <label class="label">Tehsil President Signature?</label>
            <div class="control">
              <label class="radio">
                Signed
                <input type="radio" name="tehsilPresidentSign" value="signed" required checked>
                
              </label>
              <label class="radio">
                No
                <input type="radio" name="tehsilPresidentSign" value="notSigned" required>
              </label>
            </div>
          </div>
          <div class="field">
            <label class="label">District President ANP Signature?</label>
            <div class="control">
              <label class="radio">
                Signed
                <input type="radio" name="districtPresidentSign" value="signed" required checked>
              </label>
              <label class="radio">
                No
                <input type="radio" name="districtPresidentSign" value="notSigned" required>
              </label>
            </div>
          </div>



          <div class="button">
            <button type="submit" id="register">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>




  <%- include('partials/footer') %>