<%- include('partials/header') %>

    <div class="columns is-flex is-flex-direction-row	">
      <div class="column is-one-quarter is-offset-one-fifth">
        <form action="/add" method="post" enctype="multipart/form-data">


          <div class="field">
            <label for="profileImage" class="label">Profile Image:</label>
            <div class="control">
              <input type="file" id="profileImage" name="profileImage" class="input" required>
            </div>
          </div>
          

          <div class="field">
            <label for="name" class="label">Candidate Name:</label>
            <div class="control">
              <input type="text" id="name" name="name" class="input" required>
            </div>
          </div>

          <div class="field">
            <label for="fathername" class="label">Candidate Father Name:</label>
            <div class="control has-icons-left has-icons-right">
              <input type="text" id="fathername" name="fathername" class="input" placeholder="Text input" required>
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label for="contactNumber" class="label">Contact Number:</label>
            <div class="control has-icons-left has-icons-right">
              <input type="text" id="contactNumber" name="contactNumber" class="input" placeholder="Contact Number" maxlength="11" required>
              <span class="icon is-small is-left">
                <i class="fas fa-phone"></i>
              </span>
              </div>
          </div>
          <div class="field">
            <label for="district" class="label">District:</label>
            <div class="control">
              <div class="select">
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="district"
                  name="district" required>
                          <!-- List of cities in alphabetical order -->
                          <option value="Abbottabad">Abbottabad</option>
                          <option value="Bajaur">Bajaur</option>
                          <option value="Bannu">Bannu</option>
                          <option value="Battagram">Battagram</option>
                          <option value="Buner">Buner</option>
                          <option value="Charsadda">Charsadda</option>
                          <option value="Chitral Lower">Chitral Lower</option>
                          <option value="Chitral Upper">Chitral Upper</option>
                          <option value="Dera ismail khan">Dera ismail khan</option>
                          <option value="Hangu">Hangu</option>
                          <option value="Haripur">Haripur</option>
                          <option value="Karak">Karak</option>
                          <option value="Kohat">Kohat</option>
                          <option value="Lakki Marwat">Lakki Marwat</option>
                          <option value="Lower Dir">Lower Dir</option>
                          <option value="Lower Kohistan">Lower Kohistan</option>
                          <option value="Malakand">Malakand</option>
                          <option value="Mansehra">Mansehra</option>
                          <option value="Mardan">Mardan</option>
                          <option value="Nowshehra">Nowshehra</option>
                          <option value="Peshawar">Peshawar</option>
                          <option value="Shangla">Shangla</option>
                          <option value="Swabi">Swabi</option>
                          <option value="Swat">Swat</option>
                          <option value="Tank">Tank</option>
                          <option value="Torghar">Torghar</option>
                          <option value="Upper Dir">Upper Dir</option>
                          <option value="Upper Kohistan">Upper Kohistan</option>
                          <option value="Upper Kohistan">Upper Kohistan</option>
                          <option value="South Waziristan">South Waziristan</option>
                          <option value="North Waziristan">North Waziristan</option>
                          <option value="Orakzai">Orakzai</option>
                          <option value="Mohmand">Mohmand</option>
                          <option value="Kurram">Kurram</option>
                          <option value="Kolai Palas">Kolai Palas</option>
                          <option value="Upper Kohistan">Upper Kohistan</option>
                          <option value="Lower Kohistan">Lower Kohistan</option>
                          <option value="Khyber">Khyber</option>
                      </select>
              </div>
            </div>
          </div>



          <div class="field">
            <label for="constituencyType" class="label">Constituency Type:</label>
            <div class="control">
              <div class="select">
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                  id="constituencyType" name="constituencyType" required>
                          <option value="NA">National Assembly - NA</option>
                          <option value="PK">Provincial Assembly - PK</option>
                      </select>
              </div>
            </div>
          </div>
          <div class="field">
            <label for="constituency" class="label">Constituency:</label>
            <div class="control has-icons-left has-icons-right">
              <input type="number" id="constituency" name="constituency" maxlength="3" class="input" placeholder="eg; 59" required>
              </span>
            </div>
          </div>
          <div class="field">
            <label for="cnic" class="label">CNIC Number:</label>
            <div class="control has-icons-left has-icons-right">
              <input type="text" id="cnic" name="cnic" class="input" maxlength="13" placeholder="1710132386724"
                required>
            </div>
          </div>

          <div class="field">
            <label for="currentAddress" class="label">Current Address:</label>
            <div class="control">
              <textarea id="currentAddress" name="currentAddress" class="textarea" placeholder="Street, Village/ City" required></textarea>
            </div>
          </div>

          <div class="field">
            <label for="permanentAddress" class="label">Permanent Address:</label>
            <div class="control">
              <textarea id="permanentAddress" name="permanentAddress" class="textarea" placeholder="Street, Village/ City" required></textarea>
            </div>
          </div>
          <hr>


          <!-- Suggestor Information  -->


          <div class="field">
            <label for="suggesterName" class="label">Suggester Name:</label>
            <div class="control">
              <input type="text" id="suggesterName" name="suggesterName" class="input" required>
            </div>
          </div>
          <div class="field">
            <label for="suggesterFatherName" class="label">Suggester Father Name:</label>
            <div class="control">
              <input type="text" id="suggesterFatherName" name="suggesterFatherName" class="input" required>
            </div>
          </div>

          <div class="field">
            <label for="suggesterContactNum" class="label">Contact Number:</label>
            <div class="control has-icons-left has-icons-right">
              <input type="text" id="suggesterContactNum" name="suggesterContactNum" class="input" placeholder="Contact Number" maxlength="11" required>
              <span class="icon is-small is-left">
                <i class="fas fa-phone"></i>
              </span>
              </div>
          </div>

          <div class="field">
            <label for="suggesterCNIC" class="label">CNIC Number:</label>
            <div class="control has-icons-left has-icons-right">
              <input type="text" id="suggesterCNIC" name="suggesterCNIC" class="input" maxlength="13" placeholder="1710132386724"
                required>
            </div>
          </div>

          <div class="field">
            <label for="suggesterCurrentAddress" class="label">Current Address:</label>
            <div class="control">
              <textarea id="suggesterCurrentAddress" name="suggesterCurrentAddress" class="textarea" placeholder="Street, Village/ City" required></textarea>
            </div>
          </div>

          <div class="field">
            <label for="suggConstTyp" class="label">Constituency Type:</label>
            <div class="control">
              <div class="select">
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                  id="suggConstTyp" name="suggConstTyp" required>
                          <option value="NA">National Assembly - NA</option>
                          <option value="PK">Provincial Assembly - PK</option>
                      </select>
              </div>
            </div>
          </div>
          <div class="field">
            <label for="suggesterConstituency" class="label">Constituency:</label>
            <div class="control has-icons-left has-icons-right">
              <input type="number" id="suggesterConstituency" name="suggesterConstituency" maxlength="3" class="input" placeholder="eg; 59" required>
              </span>
            </div>
          </div>
          <hr>

          <!-- Vindicator Information  -->

          <div class="field">
            <label for="vindicatorName" class="label">Vindicator Name:</label>
            <div class="control">
              <input type="text" id="vindicatorName" name="vindicatorName" class="input" required>
            </div>
          </div>
          <div class="field">
            <label for="vindicatorFatherName" class="label">Vindicator Father Name:</label>
            <div class="control">
              <input type="text" id="vindicatorFatherName" name="vindicatorFatherName" class="input" required>
            </div>
          </div>

          <div class="field">
            <label for="vindicatorContactNum" class="label">Contact Number:</label>
            <div class="control has-icons-left has-icons-right">
              <input type="text" id="vindicatorContactNum" name="vindicatorContactNum" class="input" placeholder="Contact Number" maxlength="11" required>
              <span class="icon is-small is-left">
                <i class="fas fa-phone"></i>
              </span>
              </div>
          </div>

          <div class="field">
            <label for="vindicatorCNIC" class="label">CNIC Number:</label>
            <div class="control has-icons-left has-icons-right">
              <input type="text" id="vindicatorCNIC" name="vindicatorCNIC" class="input" maxlength="13" placeholder="1710132386724"
                required>
            </div>
          </div>

          <div class="field">
            <label for="vindicatorCurrentAddress" class="label">Current Address:</label>
            <div class="control">
              <textarea id="vindicatorCurrentAddress" name="vindicatorCurrentAddress" class="textarea" placeholder="Street, Village/ City" required></textarea>
            </div>
          </div>

          <div class="field">
            <label for="vindConstTyp" class="label">Constituency Type:</label>
            <div class="control">
              <div class="select">
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                  id="vindConstTyp" name="vindConstTyp" required>
                          <option value="NA">National Assembly - NA</option>
                          <option value="PK">Provincial Assembly - PK</option>
                      </select>
              </div>
            </div>
          </div>
          <div class="field">
            <label for="vindicatorConstituency" class="label">Constituency:</label>
            <div class="control has-icons-left has-icons-right">
              <input type="number" id="vindicatorConstituency" name="vindicatorConstituency" maxlength="3" class="input" placeholder="eg; 59" required>
              </span>
            </div>
          </div>

          <hr>

          <!-- Signatures Verification -->

          <div class="field">
            <label class="label">Candidate Signature?</label>
            <div class="control">
              <label class="radio">
                <input type="radio" name="candidateSign" value="signed"  required checked>
                Yes
              </label>
              <label class="radio">
                <input type="radio" name="candidateSign" value="notAvailable" required>
                No
              </label>
            </div>
          </div>
          <div class="field">
            <label class="label">Suggester Signature?</label>
            <div class="control">
              <label class="radio">
                <input type="radio" name="suggesterSign" value="signed"  required checked>
                Yes
              </label>
              <label class="radio">
                <input type="radio" name="suggesterSign" value="notAvailable" required>
                No
              </label>
            </div>
          </div>
          <div class="field">
            <label class="label">Vindicator Signature?</label>
            <div class="control">
              <label class="radio">
                <input type="radio" name="vindicatorSign" value="signed"  required checked>
                Yes
              </label>
              <label class="radio">
                <input type="radio" name="vindicatorSign" value="notAvailable" required>
                No
              </label>
            </div>
          </div>
          <div class="field">
            <label class="label">Union Council President Signature?</label>
            <div class="control">
              <label class="radio">
                <input type="radio" name="ucPresidentSign" value="signed"  required checked>
                Yes
              </label>
              <label class="radio">
                <input type="radio" name="ucPresidentSign" value="notAvailable" required>
                No
              </label>
            </div>
          </div>
          <div class="field">
            <label class="label">Tehsil President Signature?</label>
            <div class="control">
              <label class="radio">
                <input type="radio" name="tehsilPresidentSign" value="signed"  required checked>
                Yes
              </label>
              <label class="radio">
                <input type="radio" name="tehsilPresidentSign" value="notAvailable" required>
                No
              </label>
            </div>
          </div>
          <div class="field">
            <label class="label">District President ANP Signature?</label>
            <div class="control">
              <label class="radio">
                <input type="radio" name="districtPresidentSign" value="signed"  required checked>
                Yes
              </label>
              <label class="radio">
                <input type="radio" name="districtPresidentSign" value="notAvailable" required>
                No
              </label>
            </div>
          </div>


          <div class="field is-grouped">
            <div class="control">
              <button type="submit" class="button is-link">Submit</button>
            </div>
            <div class="control">
              <button type="button" class="button is-link is-light">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>



  <%- include('partials/footer') %>