<%- include('partials/header') %>
  <section class="team-grid">
    <div class="container m-6">
      <div class="container mb-4">
        <%- include('components/counter') %>
      </div>
      <%- include('components/ticketHolders') %>
        </div>
    </div>
  </section>


  
  <%- include('partials/footer') %>